<h1 mat-dialog-title>Dodaj zamówienie</h1>
<div mat-dialog-content>
  <span class="card-payment">
    <mat-checkbox [(ngModel)]="order.cardPayment">
      Płatność kartą
    </mat-checkbox>
  </span>
  <span class="take-away">
    <mat-checkbox [(ngModel)]="order.takeAway" [disabled]="true">
      Na wynos
    </mat-checkbox>
  </span>
  <div class="table-choice">
    <mat-form-field appearance="fill">
      <mat-label>Numer stolika</mat-label>
      <input matInput [formControl]="tableFormControl" [errorStateMatcher]="matcher" [(ngModel)]="order.table">
      <mat-error *ngIf="validateOrder(order.table)">Podaj poprawny numer stolika</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="add-meal-button">
  <button class="button" mat-raised-button color="primary" (click)="openDialog()">Dodaj potrawę</button>
</div>
<mat-list *ngIf="selectedMeals.length > 0">
  <ng-container *ngFor="let meal of selectedMeals">
    <mat-list-item>
      {{meal}}
    </mat-list-item>
  </ng-container>
</mat-list>
<div mat-dialog-actions class="add-order-buttons">
  <button mat-raised-button color="warn" (click)="onNoClick()">Anuluj</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="order" (click)="setNewOrder()" cdkFocusInitial>Dodaj</button>
</div>
