@navHoverColor: darksalmon;

.logo-picture {
  padding: 0;
}

.navbar {
  background-color: wheat;
  height: 130px;
}

.navbar-brand {
  font-size: 30px;
}

.nav-item {
  padding: 10%;
  font-size: 30px;
  &:hover {
    background-color: @navHoverColor;
    border-radius: 10px;
  }
}
