<h1 mat-dialog-title>Add customer</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput [(ngModel)]="customer.firstName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput [(ngModel)]="customer.lastName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="customer.phoneNumber">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="customer" cdkFocusInitial>Add</button>
</div>
