<div class="app-container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <img class='logo-picture' src="assets/logo.png" alt="Nowy Smak">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngFor="let navbarElement of navbarModel">
          <li class="nav-item" id="customer-nav">
            <div class="nav-dropdown">
              <a class="nav-link active" aria-current="page">
                {{ navbarElement.navbarName }}
              </a>
              <div class="nav-dropdown-content" *ngFor="let option of navbarElement.navbarContent">
                <a class="nav-dropdown-content-element"
                   (click)="redirect(navbarElement.navbarName + '/' + option)">
                  {{ option }}
                </a>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
