<table mat-table [dataSource]="this.tableDataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer zamówienia</th>
    <td mat-cell *matCellDef="let order">{{order.orderId}}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kwota</th>
    <td mat-cell *matCellDef="let order">{{order.price}}</td>
  </ng-container>
  <ng-container matColumnDef="customerId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer klienta</th>
    <td mat-cell *matCellDef="let order">{{order.customerId}}</td>
  </ng-container>
  <ng-container matColumnDef="orderDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Data zamówienia</th>
    <td mat-cell *matCellDef="let order">{{order.orderDate}}</td>
  </ng-container>
  <ng-container matColumnDef="table">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer stolika</th>
    <td mat-cell *matCellDef="let order">{{order.table}}</td>
  </ng-container>
  <ng-container matColumnDef="takeAway">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Na wynos</th>
    <td mat-cell *matCellDef="let order">{{order.takeAway}}</td>
  </ng-container>
  <ng-container matColumnDef="cardPayment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Płatność kartą</th>
    <td mat-cell *matCellDef="let order">{{order.cardPayment}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let order; columns: columnsToDisplay;"></tr>
</table>
